.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #5D6975;
    text-decoration: underline;
}

body {
    position: relative;
    width: 17cm;
    height: 27cm;
    margin: 0 auto;
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
}

header {
    padding: 10px 0;
    margin-bottom: 30px;
}

#logo {
    text-align: center;
    margin-bottom: 10px;
}

#logo img {
    width: 90px;
}

.receipt_number {
    border-top: 1px solid #5D6975;
    border-bottom: 1px solid #5D6975;
    color: #5D6975;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
}

#receipt_info {
    float: left;
}

#receipt_info span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
}

#receipt_info div,
#company div {
    white-space: nowrap;
    padding-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

table th,
table td {
    text-align: center;
}

table th {
    padding: 5px 20px;
    color: #5D6975;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;
    font-weight: normal;
}

table .service,
table .desc {
    text-align: left;
}

table td {
    padding: 15px;
    text-align: center;
}

table td.service,
table td.desc {
    vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}

table td.grand {
    border-top: 1px solid #5D6975;
    ;
}

.total {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    margin-top: 20px;
    margin-right: 38px;
}

footer {
    color: #5D6975;
    width: 100%;
    position: absolute;
    margin-top: 20px;
    border-top: 1px solid #C1CED9;
    border-bottom: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
}